<ul class="list-group">
  <div
    (click)="onUnitCardSelect(unit.unitId)"
    class="card unit-card"
    *ngFor="let unit of unitsToDisplay$ | async; trackBy: trackByFn"
    (mouseenter)="onMouseOverCard(unit.unitId)"
    (mouseleave)="onMouseOutCard()"
  >
    <div class="card-body">
      <h6 class="card-title">
        {{ "name" | translate }}: {{ unit.unitTag[0].value }}
      </h6>
      <hr />
      <p class="card-subtitle mb-2 text-muted">
        Numer seryjny: {{ unit.unitTag[1].value }}
      </p>
    </div>
  </div>
</ul>
