$primary-color: #FFFFFF;
$highlighted-color: #CFCFCF;
$active-color: #46a2a9;
$hover-color: #46a2a9;
$menu-hover-border: #E7E7E7;
$hover-font-color: #FFF;

$bg-color: #FFF;

$menu-bg-color: #FFF;
$menu-font-color: #373737;

$panel-bg: #f8f8f8;

$navbar-bg-color: #FFF;
$navbar-font-color: #373737;

$green: #80CF93;
$red: #CF7272;
