<div class="row">
  <div class="top-sidebar">
    <app-sidebar class="home-sidebar"></app-sidebar>
  </div>

  <div class="map col col-12 ">
    <div class="home-map">
      <div class="error-modal-overlay" *ngIf="showErrorModal">
        <div class="error-modal card">
          <div class="card-body">
            Wystąpił problem z wyświetleniem mapy. Spróbuj ponownie później.
          </div>
        </div>
      </div>
      <mgl-map
        [style]="style"
        [zoom]="zoom"
        [maxZoom]="17"
        [center]="center"
        [cursorStyle]="cursorStyle"
        [fitBoundsOptions]="{
          padding: { top: 50, left: 350, bottom: 50, right: 50 }
        }"
        (load)="map = $event"
        (render)="render()"
        (zoomEnd)="setLatestZoom()"
      >
        <!-- <mgl-popup [closeOnClick]="false" (load)="popup = $event">
          <h1>Hello world !</h1>
        </mgl-popup> -->
        <mgl-geojson-source
          *ngIf="unitFeatureCollection && greenImageLoaded"
          id="unitPositions"
          [data]="unitFeatureCollection"
        >
        </mgl-geojson-source>

        <mgl-geojson-source
          *ngIf="unitTailFeatureCollection"
          id="tail"
          [data]="unitTailFeatureCollection"
        >
        </mgl-geojson-source>

        <mgl-geojson-source
          *ngIf="unitRouteCollection"
          id="routes"
          [data]="unitRouteCollection"
        >
        </mgl-geojson-source>

        <mgl-layer
          *ngIf="unitTailFeatureCollection"
          id="tail"
          type="line"
          source="tail"
          [layout]="{ 'line-join': 'round', 'line-cap': 'round' }"
          [paint]="{
            'line-width': 4,
            'line-color': ['get', 'color']
          }"
        ></mgl-layer>

        <mgl-layer
          *ngIf="unitRouteCollection"
          id="routes"
          type="line"
          source="routes"
          [layout]="{ 'line-join': 'round', 'line-cap': 'round' }"
          [paint]="{
            'line-width': 5,
            'line-color': ['get', 'color']
          }"
          (mouseEnter)="openRoutePopup($event)"
          (mouseLeave)="closeRoutePopup()"
        ></mgl-layer>

        <mgl-layer
          *ngIf="unitFeatureCollection && greenImageLoaded"
          id="unitPositions"
          type="symbol"
          source="unitPositions"
          [layout]="{
            'icon-image': 'greencar',
            'icon-rotate': ['get', 'direction']
          }"
          style="z-index: 500;"
        ></mgl-layer>

        <mgl-image
          id="greencar"
          url="../../assets/icons/car-green.png"
          (loaded)="greenImageLoaded = true"
        >
        </mgl-image>

        <mgl-image
          id="redcar"
          url="../../assets/icons/car-red.png"
          (loaded)="greenImageLoaded = true"
        >
        </mgl-image>

        <mgl-control mglNavigation></mgl-control>
      </mgl-map>
    </div>
  </div>
</div>
